<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tetralytics</title>
    <link rel="stylesheet" type="text/css" href="../style.css"
</head>

<body>
	<h1>View your stats here! :D</h1>
    <hr>
    <form action="http://localhost:5001/add-player" method="post">
        <input id="username" placeholder="Enter username" />
        <input type="submit" value="Submit Name"/>
    </form>

</body>
</html>
